@import "tailwindcss";

@theme {

  /* font family */
  --font-display: "Satoshi", "sans-serif";
  --font-Inter: "Inter", "sans-serif";

  /* color palette */
  --color-primary: #2726DD;
  --color-secondary: #FF6632;

  --color-title-color: #101828;
  --color-subtitle-color: #30425C;
  --color-description-color: #727272;  /* card description */

  /* gray */
  --color-gray-01: #f6f6f6;
  --color-gray-02: #D0D1D4;

  --color-primary-text-color: #2C2D2E;
  --color-secondary-text-color: #919399;
  --color-tertiary-text-color: #333740;

  --color-caption-color: #333740;
  --color-dropdown-text-color: #333740;
  --color-search-text-color: #666f8d;

  
  --color-warning: #FFB240;
  --color-failure: #C33025;

  /* cta */
  --color-primary-cta-hover: #14136F;
  --color-primary-cta-disabled: var(--color-gray-02);


}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
